<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Dashboard - EasyChair Clone</title>
</head>
<body>
    <h2>Admin Dashboard</h2>
    <h3>Submitted Papers</h3>

    <table border="1">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        <% papers.forEach(paper => { %>
        <tr>
            <td><%= paper.title %></td>
            <td><%= paper.author.name %> (<%= paper.author.email %>)</td>
            <td><%= paper.status %></td>
            <td>
                <a href="/admin/view-paper/<%= paper._id %>">View Details</a>
            </td>
        </tr>
        <% }) %>
    </table>

    <br>
    <a href="/logout">Logout</a>
</body>
</html>
